<div class="modal fade" id="addJobModal" tabindex="-1" aria-labelledby="addJobModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSeedModalLabel">{{ gettext('Add Job')}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method='POST' action="{{url_for('targetDetail', id=target.id)}}">
                    {{ AddJobForm.csrf_token }}
                    <input type="hidden" name="type" value="addJob">
                    <div class="input-group mb-3">
                                    <span class="input-group-text bg-gradient-primary-to-secondary"><i
                                            class="bi bi-envelope text-white"></i></span>
                        {{ AddJobForm.crawler(class_="form-control", placeholder_="Crawler")}}
                    </div>

                    <div class="d-grid col-12 mx-auto">
                        <button class="btn btn-outline-secondary" type="submit"><span></span>{{ gettext('Add')}}
                        </button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">{{ gettext('Close')}}
                </button>
            </div>
        </div>
    </div>
</div>