{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">{{ gettext('Users')}}<button class="btn btn-sm btn-outline-success float-end" href="#" data-bs-toggle="modal" data-bs-target="#">Add</button></div>
                <div class="card-body">
                </div>
            </div>
        </div>
                <div class="col-lg-4">
            <div class="card">
                <div class="card-header">{{ gettext('Crawlers')}}<button class="btn btn-sm btn-outline-success float-end" href="#" data-bs-toggle="modal" data-bs-target="#">Add</button></div>
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">{{ gettext('Content Owners')}}<button class="btn btn-sm btn-outline-success float-end" href="#" data-bs-toggle="modal" data-bs-target="#">Add</button></div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}