<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link type="text/css" href="{{url_for('static', filename='css/app.css')}}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Wget-UI</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{{url_for('index')}}">Dashboard</a>
      <!-- Add any navbar items, links, dropdowns here -->
    </div>
  </nav>

{% block content %}
{% endblock %}
<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>