{% for owner in owners %}
<div class="modal fade" id="editOwnerModal{{ owner.id }}" tabindex="-1" aria-labelledby="editOwnerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editOwnerModalLabel">{{ gettext('Edit Owner')}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method='POST' action="{{url_for('editOwner', id=owner.id)}}">
                    {{ AddContentOwnerForm.csrf_token }}
                    <input type="hidden" name="type" value="editOwner">
                    
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-gradient-primary-to-secondary">{{ gettext('Owner')}}<i
                            class="bi bi-envelope text-white"></i></span>
                        <input type="text" class="form-control" name="owner" placeholder="Name" value="{{owner.owner}}">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-gradient-primary-to-secondary">{{ gettext('Reference Code')}}<i
                            class="bi bi-envelope text-white"></i></span>
                        <input type="text" class="form-control" name="reference_code" placeholder="Reference code" value="{{owner.reference_code}}">
                    </div>
                    
                    <div class="d-grid col-12 mx-auto">
                        <button class="btn btn-outline-secondary" type="submit">{{ gettext('Save')}}</button>
                    </div>
                </form>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">{{ gettext('Close')}}</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}