<div class="modal fade" id="editOwnerModal" tabindex="-1" aria-labelledby="editOwnerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {% for owner in owners %}
            <div class="modal-header">
                <h5 class="modal-title" id="editOwnerModalLabel">{{ gettext('Edit Owner')}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
           
            <div class="modal-body">
                <form method='POST' action="{{ url_for('administration') }}">
                    {{ AddContentOwnerForm.csrf_token }}
                    <input type="hidden" name="type" value="editOwner">
                    <input type="hidden" name="id" value="{{owner.id}}">
                    
                    <div class="input-group mb-3">
                        <span class="input-group-text">{{ gettext('Name')}}</span>
                        <input type="text" class="form-control" name="owner" value="{{owner.owner}}">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">{{ gettext('Reference Code')}}</span>
                        <input type="text" class="form-control" name="reference_code" value="{{owner.reference_code}}">
                    </div>
                    
                    <div class="d-grid col-12 mx-auto">
                        <button href=# class="btn btn-outline-secondary" type="submit">{{ gettext('Update')}}</button>
                    </div>
                </form>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">{{ gettext('Close')}}</button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
