{% extends "base.html" %}
{% block content %}
 <div class="container mt-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Uri</th>

        </tr>
      </thead>
      <tbody>
      {% for target in targets %}
        <tr>
          <th scope="row">{{target.id}}</th>
          <td><a href="{{url_for('target', id=target.id)}}">{{target.title}}</a> </td>
          <td>{{target.uri}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <button class="btn-sm">Add Target</button>
  </div>
  <footer class="footer">
    <div class="container text-center">
      <span>&copy; 2024 University of Gothenburg</span>
    </div>
  </footer>
{% endblock %}