<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
                            <form method='POST' action="{{url_for('login')}}">
                                {{ LoginForm.csrf_token }}
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-gradient-primary-to-secondary"><i
                                            class="bi bi-envelope text-white"></i></span>
                                    {{ LoginForm.username(class_="form-control", placeholder_="User")}}
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-gradient-primary-to-secondary"><i
                                            class="bi bi-key-fill text-white"></i></span>
                                    {{ LoginForm.password(class_="form-control", placeholder_="Password")}}
                                </div>
                                <div class="d-grid col-12 mx-auto">
                                    <button class="btn btn-outline-secondary"  type="submit"><span></span> Login</button>
                                </div>
                            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>