{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">{{ gettext('Metadata')}}</div>
                <div class="card-body">
                    <ul class="list-group list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{ gettext('Title')}}</div>
                                {{target.title}}
                            </div>
                        </li>


                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{ gettext('Description')}}</div>
                                {{target.description}}
                            </div>
                        </li>
                               <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">ID</div>
                                {{target.id}}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">{{ gettext('Seeds')}}<button class="btn btn-sm btn-outline-success float-end" href="#" data-bs-toggle="modal" data-bs-target="#addSeedModal">Add</button></div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <th>Url</th>
                        <th>Depth</th>
                        </thead>
                        <tbody>
                          {% for seed in seeds %}
                        <tr>
                            <td>{{seed.url}}</td>
                            <td>{{seed.depth}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card">
                <div class="card-header">{{ gettext('Actions')}}</div>
                <div class="card-body">

                    <a href="{{url_for('deleteTarget', id=target.id)}}" class="btn btn-outline-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
                  <div class="card">


                <div class="card-header">{{ gettext('Jobs')}}<button class="btn btn-sm btn-outline-success float-end" href="#" data-bs-toggle="modal" data-bs-target="#addJobModal">Add</button></div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <th>#</th>
                        <th>Status</th>
                        <th>Started</th>
                        <th>Ended</th>
                        <th>Result</th>
                        <th>QA</th>
                        </thead>
                        <tbody>
                          {% for job in jobs %}
                          {% if job.startDateTime %}
                        <tr>
                            <td>{{job.id}}</td>

                            <td>{{job.startDateTime}}</td>
                            <td>{{job.EndDateTime}}</td>
                            <td>{{job.result}}</td>
                            <td>{{job.QA}}</td>
                            {% else %}
                            <td>{{job.id}}</td>
                            <td colspan="5"><span class="badge rounded-pill bg-secondary">Not started</span></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
{% include 'add_seed_modal.html' %}
{% include 'add_job_modal.html' %}