{% extends "base.html" %}
{% block content %}
 <div class="container mt-4">
     <h2>{{ gettext('Targets owned by me')}}</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{ gettext('Title')}}</th>
          <th scope="col">{{ gettext('Description')}}</th>
        </tr>
      </thead>
      <tbody>
      {% for target in targets %}
      {% if target.user_id == current_user.id %}
        <tr>
          <th scope="row"><a href="{{url_for('targetDetail', id=target.id)}}">{{target.title}}</a></th>
          <td>{{target.description}}</td>
          <td>{{target.name}}</td>
          <td> <a href="{{url_for('deleteTarget', id=target.id)}}" class="btn btn-outline-danger btn-sm float-end">Delete</a></td>
        </tr>
        
      {% endif %}
      {% endfor %}
      </tbody>
    </table>
    <button class="btn btn-sm btn-outline-success float-end" href="#" data-bs-toggle="modal" data-bs-target="#addTargetModal">Add Target</button>
  </div>
 <div class="container mt-4 pt-lg-5">
     <h2>{{ gettext('Targets owned by others')}}</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">{{ gettext('Title')}}</th>
          <th scope="col">{{ gettext('Description')}}</th>
          <th scope="col">{{ gettext('Responsible')}}</th>
        </tr>
      </thead>
      <tbody>
      {% for target in targets %}
      {% if target.user_id != current_user.id %}
        <tr>
          <th scope="row"><a href="{{url_for('targetDetail', id=target.id)}}">{{target.title}}</a> </th>
          <td>{{target.description}}</td>
           <td>{{target.user_id}}</td>
        </tr>
      {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
{% include 'add_target_modal.html' %}